*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", Arial, sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
}

.split{
    display:flex;
    height:100vh;
}

.left, .right{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
    padding:40px;

    opacity:0;
    animation:fadeIn 1s ease forwards;
}

.left{
    background: linear-gradient(-45deg,#6c63ff,#9f7aea,#5a67d8,#7f9cf5);
    background-size:400% 400%;
    animation:
        gradientMove 8s ease infinite,
        fadeIn 1s ease forwards;
}

.right{
    background: linear-gradient(135deg,#141e30,#243b55);
    animation-delay:0.5s;
}

h1{
    font-size:40px;
    margin-bottom:15px;
    letter-spacing:1px;
}

p{
    max-width:320px;
    line-height:1.6;
    opacity:0.9;
}

.left:hover h1,
.right:hover h1{
    transform:scale(1.05);
    transition:0.3s;
}

.left:hover{
    filter:brightness(1.1);
}

.right:hover{
    filter:brightness(1.2);
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes gradientMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}
