/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    padding:40px;
}

/* Title */
.title{
    text-align:center;
    margin-bottom:30px;
}

/* GRID LAYOUT */
.grid{
    display:grid;

    /* repeat() function used here */
    grid-template-columns: repeat(3, 1fr);

    gap:20px;
    max-width:900px;
    margin:auto;
}

/* Card */
.card{
    overflow:hidden;
    border-radius:10px;
}

/* Image */
.card img{
    width:100%;
    height:100%;
    display:block;
    transition:transform 0.4s ease;
}

/* Zoom on hover */
.card:hover img{
    transform:scale(1.15);
}
