*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f7fb;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.skills{
    width:90%;
    max-width:500px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.skill{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.skill span{
    font-weight:bold;
}

.bar{
    width:100%;
    height:14px;
    background:#e0e0e0;
    border-radius:20px;
    overflow:hidden;
}

.fill{
    height:100%;
    width:0;
    border-radius:20px;
    animation:fillAnim 2s ease forwards;
}


.html{ width:90%; background:#ff6b6b; }
.css{ width:80%; background:#4ecdc4; }
.js{ width:70%; background:#6c63ff; }
.Python{ width:85%; background:#ffa94d; }


@keyframes fillAnim{
    from{ width:0; }
}

@media(max-width:600px){
    .skills{
        width:95%;
    }
}
