*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f2f4f8;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.stats{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;

    max-width:800px;  
    margin:60px auto; 
}

.card{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);


    animation:bounce 2s infinite;
}

.card:nth-child(2){ animation-delay:0.2s; }
.card:nth-child(3){ animation-delay:0.4s; }
.card:nth-child(4){ animation-delay:0.6s; }

.card h2{
    font-size:32px;
    color:#6c63ff;
}

.card p{
    margin-top:8px;
    color:#555;
}

@keyframes bounce{
    0%, 100%{ transform:translateY(0); }
    50%{ transform:translateY(-12px); }
}
