*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f6f9;
}

.dashboard{
    display:grid;
    grid-template-columns: 220px 1fr;
    height:100vh;
}

.sidebar{
    background:#1f2937;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:20px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:12px 0;
    opacity:0.9;
}

.main{
    display:flex;
    flex-direction:column;
}

.header{
    height:70px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}


.search{
    width:200px;
    height:35px;
    border-radius:8px;
}

.user{
    width:40px;
    height:40px;
    border-radius:50%;
}

.content{
    padding:20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}

.card{
    height:140px;
    border-radius:12px;
}

.shimmer{
    background: linear-gradient(
        90deg,
        #e0e0e0 25%,
        #f5f5f5 50%,
        #e0e0e0 75%
    );
    background-size:200% 100%;
    animation: shimmer 1.2s infinite;
}

@keyframes shimmer{
    0%{background-position:-200% 0;}
    100%{background-position:200% 0;}
}
